body {
    background-color: #0F0F0F;
}

.cabecalho {
    padding: .7em 0 .7em 1.5em;
    background-color: #151515;
}

.logo-main {
    width: 7%;
}

hr {
    margin-top: 1em;
    color: #EEEEEE;
}

main {
    padding: 2em 5em;
}

.sessao-tabela__titulo {
    color: #EEEEEE;
    font-family: 'Montserrat';
    font-size: 2em;
}

.tabela {
    margin-top: 1.5em;
    font-family: 'Montserrat';
    border-collapse: collapse;
    width: 100%;
    color: #EEEEEE;
  }
 
th {
    background-color: #171717;
    font-weight: 700;
}

td {
    background-color: #313131;
}

td, th {
    border: 1px solid #413F42;
    text-align: center;
    padding: 8px;
}

.formulario {
    
}

.sessao-adicionar__titulo {
    margin-top: 1.5em;
    color: #EEEEEE;
    font-family: 'Montserrat';
    font-size: 2em;
}

.grupo {
    display: inline-block;
    margin-right: 2.5em;
    margin-top: 1em;
}

.titulo {
    color: #EEEEEE;
    font-family: 'Montserrat';
    font-size: 1em;
}

.input {
    margin: .5em 0;
    padding: 1em 0 1em 1em;
    width: 35em;
    background-color: #313131;
    border-radius: 2px;
    border: none;
    color: #EEEEEE;
    font-family: 'Montserrat';
}

.input-select {
    margin: .5em 0;
    padding: 1em 0 1em 1em;
    width: 36em;
    background-color: #313131;
    border-radius: 2px;
    border: none;
    color: #EEEEEE;
    font-family: 'Montserrat';
}

.botao-adicionar {
    margin-top: 2em;
    width: 15%;
    padding: 15px 0;
    background: #0766AD;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: 0.3s all;
    cursor: pointer;
}

.botao-adicionar:hover {
    background: #0a7dd4;
}
